{#
/**
 * @file
 * Theme for displaying brewery map.
 *
 * The brewery_map library loads the javascript to prepare brewery data for mapping and
 * instantiate the Google Maps API.
 */
#}
<div id="brewery-map"></div>
