{#
/**
 * @file
 * Theme for displaying brewery homepage
 *
 * The template included in the brewery_homepage module only displays a short
 * message. To stay organized, the actual implementation of this template
 * can be found in the brew theme.
 */
#}
<div class="header layout-row">
  <div class="layout-row-inner">
    Welcome to the homepage.
  </div>
</div>
